;; shadow-cljs configuration
{:source-paths
 ["src/" "development/src/"]

 :log
 {:level :debug}

 :dependencies
 [[org.clojars.flowyourmoney/malli-ts "0.3.0-SNAPSHOT"]]

 :launcher-override
 "launcher.jar"

 :builds
 {:default
  {:target :node-script
   :output-to "out/index.js"
   :output-dir "out/"
   :main uniradar-backend.main/init}
  :dev
  {:target :node-script
   :output-to "out/dev/index.js"
   :output-dir "out/dev/"
   :main uniradar-backend.development.main/init
   :compilation-options {:optmization :whitespace}}}}
